<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员登陆</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/login.css">
	<script type="text/javascript" src="__PUBLIC__/Common/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="login_box">
		<form action="?m=admin&c=login&a=addHandleAction" method="post" name="admin_login">
			<div class="header_box">管理员登录</div>
			<div class="userinput">
			<label>用户名:</label>
			<input type="text" name="admin_user" class="form-control" placeholder="请输入用户名" id="user_name">
			<span id="usernameinfo"></span>
			</div>
			<div class="pwdinput">
			<label>密码:</label>
			<input type="password" name="admin_pwd" class="form-control" placeholder="请输入密码" id="password">
			<span id="passwordinfo"></span>
			</div>
			<div class="captchar_text_box">
			<label>验证码:</label>
			<input type="text" name="captchar" class="form-control" onkeyup="checkcode(this)" id="captchar">
			<span id="code"></span></div>
			&nbsp;
			<div class="captchar_box"><img src="?m=admin&c=Login&a=showCaptchar" id="captchar2"></div>
			<div class="button">
			<input type="submit" name="" value="登录" class="btn btn-success btn-block btn-large" onclick="return checkempty()">
			<span><a href="?m=home&c=index&a=indexAction">返回首页</a></span>
			</div>

		</form>

	</div>
<script>
	var oImg = document.getElementById('captchar2');
	oImg.onclick = function(){
		this.src = '?m=admin&c=login&a=showCaptchar&'+Math.random();
	}
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/admin_login.js"></script>

	
</body>
</html>